{% extends 'core/layout.html'%}

{% block content %}


<div class="col-lg-12 stretch-card">
    <div class="card">
        <h5 class="text-center my-3">DEPARTMENTS</h5>

      <div class="card-body">
        <h4 class="card-title">
    
        <a href="#" class="btn btn-primary my-2" data-toggle="modal" data-target="#addDepartment">Add department</a>
    </h4>
            <div class="table-responsive pt-2">
          <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Department Name</th>
                    <th>Department Code</th>
                    <th>Action</th>
                </tr>
                <tbody>
                    {% for d in departments %}
                    <tr class="table-info">
                        <td><a href="{% url 'core:program' dpt=d.pk %}">{{ d.department_name }}</a></td>
                        <td>{{ d.department_code }}</td>
                        <td>
                            <a href="#" data-toggle="modal" data-target="#editDepartment{{ d.id }}" class="btn-primary">Edit</a>
                            <a href="{% url 'core:deleteDepartment' pk=d.id %}" onclick="return(confirm('Are you sure you want to delete this department?'))" class="btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<!-- edit department -->
{%for d in departments %}
<div class="modal fade" id="editDepartment{{d.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit {{d.department_name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'core:departments' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{d.id}}" name="dtId">
                <div class="modal-body">
                    <input type="text" placeholder="Department Code" name="dptcode" value="{{d.department_code}}"
                        class="form-control my-2" required>
                    <input type="text" placeholder="Department Name" name="dptname" value="{{d.department_name}}"
                        class="form-control my-2" required>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{%endfor%}

<!-- add department -->
<div class="modal fade" id="addDepartment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'core:departments' %}" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="text" placeholder="Department Code" name="dptcode" class="form-control my-2" required>
                    <input type="text" placeholder="Department Name" name="dptname" class="form-control my-2" required>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}