{% extends 'staff/staff_layout.html'%}

{% block content %}
  
<h2>Generate Timetable</h2>

<form method="post">
    {% csrf_token %}
    <label for="program_id">Program:</label>
    <select name="program_id" class="form-control my-2" id="program_id" required>
        <option value="">Select a Program</option>
        {% for program in programs %}
        {% if staff.department == program.department %}
            <option value="{{ program.id }}">{{ program.program_name }}</option>
        {% endif %}
        {% endfor %}
    </select><br><br>
    
    <label for="year">Year:</label>
   
    <select name="year" id="" class="form-control my-2" required>
        <option value="">Choose Year</option>
        <option value="1 I">Year 1 Semister One</option>
        <option value="1 II">Year 1, Semister Two</option>
        <option value="2 I">Year 2, Semister One</option>
        <option value="2 II">Year 2, Semister Two</option>
        <option value="3 I">Year 3, Semister One</option>
        <option value="3 II">Year 3, Semister Two</option>
        <option value="4 I">Year 4, Semister One</option>
        <option value="4 II">Year 4, Semister One</option>
        <option value="5 I">Year 5, Semister Two</option>
        <option value="5 II">Year 5, Semister Two</option>
    </select>

    <button type="submit" class="btn btn-primary">Generate Timetable</button>
</form>




{% endblock %}
