{% extends 'staff/staff_layout.html'%}

{% block content %}
<div class="content-wrapper">
   
<h2 class="text-center">Timetables</h2>
<div class="container">
     
    {% if timetables %}
    {% for timetable in timetables %}
        <h3 class="mt-5">Timetable for {{ timetable.program.program_name }} Year {{ timetable.year }}</h3>
        <table class="table table-bordered table-striped">
            <thead class="bg-primary text-white">
                <tr>
                    <th>Day</th>
                    <th>Timeslot</th>
                    <th>Course</th>
                    <th>Lecturer</th>
                    <th>Room</th>
                </tr>
            </thead>
            <tbody>
                {% for schedule in timetable.courseschedule_set.all %}
                    <tr>
                        <td>{{ schedule.timeslot.day }}</td>
                        <td>{{ schedule.timeslot.time_range }}</td>
                        <td>{{ schedule.course.course_name }}</td>
                        <td>{{ schedule.staff.fullname }}</td>
                        <td>{{ schedule.room.room_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}


    
{% else %}
    <p>No timetables available.</p>
{% endif %}
</div>





</div>

{%endblock%}