{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Time Table Generator</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/style.css' %}" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}" />
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
    <style></style>
</head>

<body>
    <div class="container-scroller">
        <!-- Navigation Bar -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo my-5" href="index.html">
                    <img src="{% static 'images/timetable/logolira.png' %}" class="mr-2" alt="Lira University" /><i
                        style="font-size: large; font-weight: bolder">Time Table Generator</i></a>
                <!-- <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.svg" alt="logo"/></a> -->
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <div class="nav-item">
                    <ul class="primary-nav g-nav d-flex list-unstyled">
                        <li class="mr-3">
                            <a href="{% url 'core:home' %}" class="text-decoration-none nav-link text-primary"> Home </a>
                        </li>
                        <li class="mr-3">
                            <a href="{% url 'core:about' %}" class="text-decoration-none nav-link text-primary"> About </a>
                        </li>
                        
                        <li>
                            <a class="nav-link dropdown-toggle text-primary" href="#" id="profileDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Login
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                                <a class="dropdown-item" href="{% url 'core:login' %}">Admin</a>
                                <a class="dropdown-item" href="{% url 'staff:login' %}">Staff</a>
                                <a class="dropdown-item" href="{% url 'student:login' %}">Student</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
    </div>

    <!-- Main Content with scrolling images -->
    <div class="main-content">
        <div class="container">
            
            
            <div>
                <br>
                <br>
            </div>
           
            <div>
                <br>
                <br>
            </div>

        </div>
    </div>

    <!-- Footer with About Us, Contact Us, and Newsletter -->
    <footer class="footer bg-primary">
        <div class="container-fluid">
            <div class="row">
                <!-- About Us Section -->
                <div class="col-md-4 text-white">
                    <h5>About Us</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut
                        perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium.
                    </p>
                </div>
                <!-- Contact Us Section -->
                <div class="col-md-4 text-white">
                    <h5>Contact Us</h5>
                    <p>
                        Address: 123 Street, City, Country<br />
                        Phone: +123456789<br />
                        Email: info@example.com
                    </p>
                </div>
                <!-- Newsletter Section -->

                <div class="col-md-4 text-white">
                    <h5>Feedback Section</h5>
                    <p>Your feedback is essential for improving the system <br>Please click the link below to submit
                        your feedback</p>
                    <!-- Feedback Modal -->
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#feedbackModal">Feedback</a>
                   
                    <!-- <div class="card">
                        <div class="card-body">
                           
                        </div>
                    </div>  -->
                </div>
            </div>
            <hr class="bg-white" />
            <div class="row">
                <div class="col-md-12 text-center text-white" id="copyright-year">
                    <p>
                        &copy; <span id="current-year"></span> Time Table Generator. All
                        rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript libraries and custom scripts -->
    <script>
        // Get the current year
        var currentYear = new Date().getFullYear();

        // Update the span element with the current year
        document.getElementById("current-year").textContent = currentYear;
    </script>
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- End inject -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
    <!-- End custom js for this page-->
    <script>
        // Array of image URLs
        var imageUrls = [
            "{% static 'images/timetable/b5.JPG' %}",
            "{% static 'images/timetable/b6.JPG' %}",
            "{% static 'images/timetable/b8.JPG' %}"
        ];
    
        var currentIndex = 0;
        var imageElement = document.getElementById("scrollingImage");
    
        // Function to scroll images
        function scrollImages() {
            currentIndex++;
            if (currentIndex >= imageUrls.length) {
                currentIndex = 0;
            }
            imageElement.src = imageUrls[currentIndex];
        }
    
        // Set interval to scroll images every 2 seconds (adjust as needed)
        setInterval(scrollImages, 3000); // Change to a lower value for faster scrolling
    </script>
    
</body>
</body>

</html>