{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Time Table Generator</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/style.css' %}" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}" />
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
    <style></style>
</head>

<body>
    <div class="container-scroller">
        <!-- Navigation Bar -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top">
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between w-100">
                <div class="navbar-brand-wrapper">
                    <a class="navbar-brand brand-logo ml-3 d-flex align-items-center my-2" href="#">
                        <img src="{% static 'images/timetable/logolira.png' %}" class="mr-2" alt="Lira University" />
                        <!-- <p class="text-primary text-bolder" style="font-weight: bolder;font-size: x-large;">Time Table Generator</p> -->
                        <img src="{% static 'images/timetable/tt.png' %}" alt="logo" />

                    </a>
                </div>
                <div class="nav-item">
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="mr-3">
                            <a href="{% url 'core:home' %}" class="text-decoration-none nav-link text-primary"> Home </a>
                        </li>
                        <li class="mr-3">
                            <a href="{% url 'core:about' %}" class="text-decoration-none nav-link text-primary"> About </a>
                        </li>
                       
                        <li>
                            <a class="nav-link dropdown-toggle text-primary" href="#" id="profileDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Login
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                                <a class="dropdown-item" href="{% url 'core:login' %}">Admin</a>
                                <a class="dropdown-item" href="{% url 'staff:login' %}">Staff</a>
                                <a class="dropdown-item" href="{% url 'student:login' %}">Student</a>
                            </div>
                        </li>
                        
                        
                      </ul>
                </div>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
    </div>

    <!-- Main Content with scrolling images -->
    <div class="main-content">
        <div class="container">
            <div id="imageContainer" class="container">
                <img id="scrollingImage" src="{% static 'images/timetable/b5.JPG' %}" style="height: 500px;" class="d-block w-100" alt="Image 1" />
            </div>
            
            <div>
                <br>
                <br>
            </div>
            <div class="row ">
                <div class="col-md-8 ">
                    <div class="container-fluid my-3 textContent">
                        <p>The system integrates a genetic algorithm-based timetable generator with a user-friendly
                            interface for user interaction. The user interface allows users to provide input, visualize
                            timetables, and customize settings.
                        <p>The system utilizes a knowledge base and database to store and retrieve relevant information.
                            Constraints from predefined standards and faculty availability are considered, and the
                            output is a set of optimized timetables meeting educational requirements</p>
                        <p>The system collects input data, including course offerings, faculty availability, classroom
                            capacities, student enrolment numbers, etc. The evolutionary algorithm then processes this
                            data, iteratively generating timetable versions and evaluating them based on a set of
                            predefined fitness criteria (e.g., no faculty conflicts, optimal room utilization, student
                            schedule compatibility). The process continues until it converges on an optimal timetable
                            solution that meets all constraints and preferences.</p>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="container-fluid my-3">
                        <!--  scrolling images  -->
                        <div id="imageContainer" class="container">
                            <img id="scrollingImage" src="{% static 'images/timetable/b5.JPG' %}" style="height: 150px;" class="d-block w-100" alt="Image 1" />
                        </div>
                        
                        
                        <div class="card my-3">
                            <div class="card-body">
                                <h5>Feedback Section</h5>
                                <p style="font-size: small;">Please click the link below to submit your feedback</p>

                                <!-- Feedback Modal -->
                                <a class="nav-link text-primary btn btn-primary text-white" href="#" data-toggle="modal"
                                    data-target="#feedbackModal"><p class="text-white">Feedback</p></a>
                                    <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog"
                                    aria-labelledby="feedbackModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title " id="feedbackModalLabel">Feedback</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Feedback Form -->
                                                <form>
                                                    <div class="form-group">
                                                        <label for="feedbackMessage">Your Email:</label>
                                                        <input type="email" placeholder="example@gmail.com"
                                                            class="form-control my-2">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="feedbackMessage">Subject:</label>
                                                        <input type="text" placeholder="Subject" class="form-control my-2">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="feedbackMessage">Your Feedback:</label>
                                                        <textarea class="form-control" id="feedbackMessage" rows="5"></textarea>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>

                </div>
            </div>
            <div>
                <br>
                <br>
            </div>

        </div>
    </div>

    <!-- Footer  -->
    <footer class="footer bg-primary">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-4 text-white">
                    
                   
                </div>
               
                <div class="col-md-4 text-white">
                </div>
                

                <div class="col-md-4 text-white">
                </div>
            </div>
            <!-- <hr class="bg-white" /> -->
            <div class="row">
                <div class="col-md-12 text-center text-white" id="copyright-year">
                    <p>
                        &copy; <span id="current-year"></span> Time Table Generator. All
                        rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript libraries and custom scripts -->
    <script>
        // Get the current year
        var currentYear = new Date().getFullYear();

        // Update the span element with the current year
        document.getElementById("current-year").textContent = currentYear;
    </script>
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- End inject -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
    <!-- End custom js for this page-->
    <script>
        // Array of image URLs
        var imageUrls = [
            "{% static 'images/timetable/b5.JPG' %}",
            "{% static 'images/timetable/b6.JPG' %}",
            "{% static 'images/timetable/b8.JPG' %}"
        ];
    
        var currentIndex = 0;
        var imageElement = document.getElementById("scrollingImage");
    
        // Function to scroll images
        function scrollImages() {
            currentIndex++;
            if (currentIndex >= imageUrls.length) {
                currentIndex = 0;
            }
            imageElement.src = imageUrls[currentIndex];
        }
    
        // Set interval to scroll images every 2 seconds (adjust as needed)
        setInterval(scrollImages, 3000); // Change to a lower value for faster scrolling
    </script>
    

    
    
    
</body>
</body>

</html>